@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  background-color: #ffffff;
  --blue-color: rgb(5, 51, 97);
  --font: "Lato", sans-serif;
}

.blue-text {
  color: var(--blue-color);
  font-family: var(--font);
}
